.book {
    padding: 4px;
    border-radius: 2px;
}
#overlay {
    padding: 20px;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    cursor: default;
    overflow: scroll;
  }
.book-card {
    border-radius: 4px;
    padding: 15px;
    background-color: white;
    /* overflow: scroll; */
    animation: popup 0.25s ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: normal;
    z-index: 30;
}
#loading {
    background: url('loading.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: none;
}

@keyframes popup {
    0%   {transform: scale(0.6)}
    100% {transform: scale(1);}
}